.calculadora{
    background: black;
    color: red;
    width: 200px;
    padding: 10px;
    text-align: center;

}
.calculadora input {
    background: cyan;
    color:pink;
    padding: 8px;
}
.calculadora input:focus{
    background: purple;
    color: rebeccapurple;

}
#sptotal {
    background: blue;
    color: cadetblue;
    padding: 10px;
    margin-bottom: 10px;


}
.calculadora button {
    margin-top: 10px;
    background: coral;
    color: aqua;
    padding: 5px 10px;    
